@import url('https.fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin:0;
    padding:0;
    font-family:'Spartan', sans-serif;
    box-sizing: border-box;

}

h1{
    font-size:50px;
    line-height: 64px;
    color:#222;
}

h2{
    font-size:45px;
    line-height: 54px;
    color:#222;
}

h4{
    font-size:15px;
    color:#222;
    font-weight: 300;
}

h6{
    font-weight:700;
    font-size:12px;
}

p{
    font-size:16px;
    color:#465b52;
    margin:15px 0 20px 0;
}

body{
    width:100%;
    box-sizing:border-box;
    overflow-x: hidden;
    
}


/**HEADER**/
#header{
    top:0;
    display:flex;
    width:100%;
    align-items: center;
    justify-content:space-between;
    padding:20px 40px;
    background:#E3E6F3;
    box-shadow: 0 5px 10px rgba(0,0,0,0.45);
    box-sizing: border-box;
    position:fixed;
    z-index: 10;

}

#header h4{
    font-weight: 600;  
    font-size:40px;
    text-decoration: none;

}

#header h4 span{
    color:crimson;  
}

.nav-div{
    display:flex;
    justify-content:center;
    box-sizing:content-box;

}

#navbar{
   display:flex;
   margin:0 240px 0 0;
   box-sizing: border-box;
}

#navbar li{
    list-style: none;
    padding:5px 18px;
}

#navbar li a{
    text-decoration:none;
    font-size:16px;
    font-weight: 600;
    color: #1a1a1a;
    transition:0.6s ease;
    position:relative;
}

#navbar li a:hover,
#navbar li a.active{
    color:crimson;
    
}

#navbar li a.active:after,
#navbar li a:hover::after{
    content:'';
    width:40%;
    height:2px;
    background:crimson;
    position:absolute;
    bottom:-4px;
    left:2px;
}
.nav-icons i{
    line-height: 30px;
    color:#222;
}

#header-2{
    margin:10px 0px;
    width:100%;
    box-sizing: border-box;
    background-color: #E3E6F3;

}




/*search container searcher including gps location */

#search-container{
    margin:10px 5px 10px 20px;
    padding:3px 5px 2px;
    top:100px;
    display:flex;
    position:relative;
    justify-content:flex-start;
    width:100%;
    box-sizing: border-box;

}

#search-container{
    margin:10px 0 12px 50px;
    padding:2px;
}

::-webkit-input-placeholder{
    font-size:15px
!important;
     font-weight: 100;
    font-style:sans-serif;
    text-align: left;
    width:100;
}
#search-container #input-search{
    margin:0 0 0 20px;
    font-size:15px;
    padding:1px 7px 3px 15px;
    border-radius: 30px;
    border-width:1px;
    width:70%;
    
}

#search-container img{
    width:20px;
    height:20px;
    position:relative;
    line-height:5px;
    margin:0 5px;
}

#search-container .location #direction{
    font-size:15px;
}

#search-container ::placeholder{
    text-align: left;
    font-size:17px;
    text-align:left;

}

#search-container #input{
    text-align:center;
}

.search-container #search-button{
    margin:0 1px 0 32px;
    padding:4px 25px;
    border-radius: 30px;
    outline:none;
    color: #fff;
    background-color: #dc143d;
    border-width:0;
    font-weight: 700;

}

.location{
    display:flex;
    margin:8px 1px 5px 20px ;
}

.location h4{
    font-size: 14px;


}

#offer span, #offer h2{
    color:crimson;
}

.offer-div{
    margin:10px 0 10px;
}
.section-p1{
    position:relative;
    display:flex;
    margin: 200px 0 0 0;

}


#place-category{
    display:flex;
    margin:0 0 0 25px;
    justify-content: space-evenly;
    align-items: center ;
    padding:4px 10px;
}

#place-category a{
    text-decoration:none;
    margin:4px 12px;
    align-items: center;
    color:#dc143d;
    text-align: center;
    font-weight: 700;
    
}

#place-category a:hover{
    background-color: #dc143d;
    color:white;
    font-size:medium;
    word-spacing: 2px;

}
/*card styling*/

.body-container .card-container{
    margin:0 0 0 300px;
    padding:0 3px 0 120px;
    display:grid;
    justify-content:right;
    gap:1rem;
}

.body-container .card-container .card{
    margin:0 50px;

}
  
.card{
    width:18rem;
    margin:0;
    
    position:relative;
    padding:0;
    box-sizing:border-box;
}

.card img{
    width:90%;
    height:12rem;
    padding:0 10px 0 10px;
    cursor:pointer;
}

.card-body .card-title img{
    width:15px;
    height:auto;
    margin: -5px 0 0 0;
}

#section-card .body-container{
    margin:0;
    padding:10px;
    display:grid;
    top:170px;
    position:absolute;
    grid-template-columns:1fr 1fr 1fr 1fr;
    background:#ebecf1;
}

#section-card .card-container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 10px 70px
}
.card-description .btn{
    background-color: #dc143d;
    border-radius:25px;
    border:none;
    padding: 4px 9px;
}

.card-description .btn:hover{
    background-color:white;
    color:#dc143d;
    border:solid 1px #dc143d;
    transition: ease 0.7s;
}

.card-description a{
    font-size:15px;
    font-weight: 500;
    align-self: center;

}

.card-text p{
    font-size:14px;
    font-weight:400;
}

.card-description{
    display: flex;
    justify-content: space-between;
}

.card-body a{
    margin:0;
}
.card-body .card-title p{
     font-size:14px;
     font-weight: 500;
}
.card-body .card-title{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    box-sizing: content-box;
    padding:0;
}

.card-container .card img{
    margin:0 0 0 .8rem;
    padding:7px 1px 0px 1px;
}

.section-m1{
    margin:40px 0;
}

/*side nav bar */

#section-sidenav #side-nav {
    left:0;
    top: 27%;
    background-color: crimson;
    padding: 2px;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display:flex;
    flex-direction: column;
    width:152px;
    position:fixed;
    z-index:10;
    
}

#section-sidenav #side-nav a{
  padding: 5px 3px;
  color:#fff;
  text-decoration: none;
}


#section-sidenav #side-nav a img{
    width:50px;
    height:auto;
  
}
.navbar-toggler {
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    align-self: flex-start;
    text-align:end;
    transition: color 0.3s, background-color 0.3s;
}

.side-navbar a:hover{
   color:#dc143d;
   background-color: #fff;
}
